@use "base/variables" as v;
@use "base/mixins" as m;

.confirmar {
  margin-top: 5rem;

  .uptask {
    @include m.textoDegradado(v.$indigo, v.$indigo);
  }

  .boton {
    @include m.boton(v.$indigo, v.$blanco);
    display: block;
    margin: 0 auto;
  }

  .acciones {
    a {
      color: v.$blanco;
      margin-bottom: 3rem;
    }
  }
}
