@use "base/variables" as v;
@use "base/mixins" as m;

.login {
  margin-top: 5rem;

  .uptask {
    @include m.textoDegradado(v.$cyan, v.$cyan);
  }

  input[type="submit"] {
    @include m.boton(v.$cyan, v.$blanco);
    display: block;
    margin: 0 auto;
  }

  .acciones {
    a {
      color: v.$cyan;
    }
  }
}
